*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #51ABAC;
}
.container{
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.editor-container{
  margin-top: 20px;
   /* background-color: #61dafb;
  width: 500px;
  height: 180px;
  overflow: hidden;
  border: solid black 2px; */
}

#editor{
  min-width: 500px;
  min-height: 180px;
  overflow-y: scroll;
  padding: 10px;
}
#editor:focus{
  outline: none;
}
.preview-container{
  background-color: #afe7f6;
  width: 80%;
  min-height: 250px;
  height: 100%;
  overflow-x: scroll;
  border: solid black 1px;
}
.toggle-preview{
  display: none;
}
.toggle-height{
  height: 100vh;
}
#preview{
  padding: 10px;
}

.header-container{
  background-color: #399A9C;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  font-weight: 700;
  box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
}

.shadow{
  box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
}